.btn {
    padding: 0.6rem 1.2rem;
  border: 1px solid #d9dce5;
  border-radius: 2rem;
  background: #ffffff;
  color: #374151;
  font-weight: 500;
  cursor: pointer;

  transition: 0.2s ease;
   &--revert {
      border-color: var(--clr1);
    color: #fff;
    background: var(--clr1);
    }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
    border-color: var(--clr1);
    color: var(--clr1);
    }
    &--revert:hover {
      background: #fff;
    }
  }

   &:active {
    border-color: var(--clr1);
    color: var(--clr1);
  }

  &--revert:active {
    background: #fff;
  }

  &.active {
    background: var(--clr1);
    border-color: var(--clr1);
    color: #ffffff;
  }

  &:disabled {
    opacity: 0.45;
    cursor: not-allowed;
  }

  &--load-more {
    margin: 0 auto 1rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}