.filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 28px;
}

.filter__btn {
 

  &--sort {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}