.filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;
  &__additional-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
  }
}

.filter__btn {
 display: flex;
    align-items: center;
    gap: 1rem;
}